<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Add Height Weight & HB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/student_style.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body style="background:linear-gradient(45deg, #47cebe, #ef4a82);">
  <div class="container">
    <div class="title">Add Height Weight & HB</div>
    
    
    <div class="content">
      <form action="" method="POST" enctype="multipart/form-data">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Height</span>
            <input type="text" name = "height" placeholder="Enter Height (in cm's)" required>
          </div>

          <div class="input-box">
            <span class="details">Weight</span>
            <input type="text" name = "weight" placeholder="Enter Weight (in kg's)" required>
          </div>

          <div class="input-box">
            <span class="details">Hemoglobin</span>
            <input type="text" name = "hemoglobin" placeholder="Enter Number hemoglobin" required>
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <select name="age" id="classes" style="width:100%; height:45px;" class="input-box">
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>

            </select>
          </div>

          <div class="input-box">
            <span class="details">Month</span>
            <select name="month" id="classes" style="width:100%; height:45px;" class="input-box">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>

            </select>
          </div>
          
        </div>
        
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
