absl-py==1.0.0
astroid==2.9.3
astunparse==1.6.3
Authlib==1.0.0
beautifulsoup4==4.11.1
blinker==1.4
boto3==1.21.22
botocore==1.24.22
Brotli==1.0.9
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cmake==3.22.3
colorama==0.4.4
cryptography==36.0.2
dash==2.3.0
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.4
dlib @ file:///D:/Saral-SS/ExpoProjects/DriverDrowsiness/dlib-19.19.0-cp38-cp38-win_amd64.whl
dnspython==2.2.1
email-validator==1.1.3
emoji==1.7.0
et-xmlfile==1.1.0
Faker==12.0.1
filelock==3.7.0
Flask==2.0.3
Flask-Compress==1.11
Flask-Cors==3.0.10
Flask-Excel==0.0.7
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-mongoengine==1.0.0
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
flatbuffers==2.0
gast==0.5.3
geographiclib==1.52
geopy==2.2.0
google==3.0.0
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==3.0.0
greenlet==1.1.2
grpcio==1.44.0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
h3==3.7.4
h5py==3.6.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httplib2==0.20.4
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.11.3
imutils==0.5.4
instamojo-wrapper==1.2.0
isort==5.10.1
itsdangerous==2.1.1
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.7.1
libclang==13.0.0
lml==0.1.0
Markdown==3.3.6
MarkupSafe==2.1.1
mccabe==0.6.1
metaflow==2.5.3
mixer==7.2.2
mongoengine==0.24.1
mysql-connector-python==8.0.28
mysqlclient==2.1.0
nltk==3.7
numpy==1.22.0
oauth2client==4.1.3
oauthlib==3.2.0
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
openpyxl==3.0.9
opt-einsum==3.3.0
Panda3D==1.10.11
panda3d-gltf==0.13
panda3d-simplepbr==0.10
pandas==1.4.2
Pillow==9.0.1
platformdirs==2.5.1
plotly==5.6.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
pygame==2.1.2
PyJWT==2.4.0
pylint==2.12.2
pymongo==4.0.2
pyparsing==3.0.7
pyperclip==1.8.2
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2022.1
regex==2022.3.15
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rsa==4.8
s3transfer==0.5.2
screeninfo==0.8
six==1.16.0
smbus2==0.4.1
sniffio==1.2.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.32
stripe==2.70.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
texttable==1.6.4
tf-estimator-nightly==2.8.0.dev2021122109
timezonefinder==6.0.1
toml==0.10.2
torch==1.11.0
touch==2020.12.3
tqdm==4.63.0
twilio==7.9.1
typing_extensions==4.1.1
urllib3==1.26.9
ursina==4.1.1
utils==1.0.1
validators==0.20.0
values==2020.12.3
virtualenv==20.14.1
vonage==2.6.4
Werkzeug==2.0.3
wrapt==1.13.3
WTForms==3.0.1
zipp==3.7.0

