<!DOCTYPE html>
<html>
<head>
  <title>9B2 Boys Time Table</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/class_timetable.CSS')}}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="title"><h2>9B2 Boys Time Table</h2></div><br><br><br>
        <table border="5" cellspacing="0" align="center">
          <!--<caption>Timetable</caption>-->
          <tr>
              <td class="one"><br>
                  <b>ClassTeacher Name:M.Mallika Rani</b></br>
              </td>
              <td class="one">
                  <b>I<br>9:15am-10:00am</b>
              </td>
              <td class="one">
                  <b>II<br>10:00-10:40</b>
              </td>
              <td class="one">
                  <b>III<br>10:40-11:20</b>
              </td>
              <td class="one">
                  <b>Break<br>11:20-11:30</b>
              </td>
              <td class="one">
                  <b>IV<br>11:30am-12:10pm</b>
              </td>
              <td class="one">
                  <b>V<br>12:10-12:50</b>
              </td>
              <td class="one">
                  <b>VI<br>12:50pm-1:30pm</b>
              </td>
              <td class="one">
                  <b>Lunch<br>1:30pm-2:30pm</b>
              </td>
              <td class="one">
                <b>VII<br>2:30pm-3:10pm</b>
            </td>
            <td class="one">
              <b>VIII<br>3:10pm-3:50pm</b>
          </td>
          <td class="one">
            <b>IX<br>3:50pm-4:30pm</b>
        </td>
          </tr>
          <tr>
              <td class="one">
              <b>Monday</b></td>
              <td class="one">English(M.M.R)</td>
              <td class="one">.....</td>
              <td class="one">Maths(K.SD)</td>
              <td rowspan="6" class="one">
                  <h2>S<br>h<br>o<br>r<br>t<br>b<br>r<br>e<br>a<br>k</h2>
              </td>
              <td class="one">Hindi</td>
              <td colspan="2"class="one">Coding(Uma)</td>
             
    
              <td rowspan="6" class="one">
                <h2>L<br>u<br>n<br>c<br>h<br>b<br>r<br>e<br>a<br>k</h2>
            </td>
              <td class="one">Phy(K.S)</td>
              <td class="one">Social(H.B)</td>
              <td class="one">CP(Nikhil)</td>
          </tr>
          <tr>
              <td class="one">
                  <b>Tuesday</b>
              </td>
              <td class="one">English(M.M.R)</td>
              <td class="one">.....</td>
              <td class="one">Maths(K.SD)</td>
              <td class="one">Hindi</td>
              <td colspan="2"class="one">IoT(Syed)</td>
             
              <td class="one">Phy(K.S)</td>
              <td class="one">Social(H.B)</td>
              <td class="one">CP(Nikhil)</td>
             
          </tr>
          <tr>
              <td class="one">
                  <b>Wednesday</b>
              </td>
              <td class="one">English(M.M.R))</td>
              <td class="one">......</td>
              <td class="one">Maths(K.SD)</td>
              <td class="one">Hindi</td>
              <td colspan="2"class="one">Coding(Uma)</td>
              
              <td class="one">Phy(K.S)</td>
              <td class="one">Social(H.B)</td>
              <td class="one">Maths(K.SD)</td>
          </tr>
          <tr>
              <td class="one">
                  <b>Thursday</b>
              </td>
              <td class="one">English(M.M.R)</td>
              <td class="one">.....</td>
              <td class="one">Maths(K.SD)</td>
              <td class="one">Bio(M.H.B)</td>
              <td colspan="2"class="one">IoT(Syed)</td>
              
              <td class="one">Phy(K.S)</td>
              <td class="one">Social(H.B)</td>
              <td class="one">Maths(K.SD)</td>
              
              
          </tr>
          <tr>
              <td class="one">
                  <b>Friday</b>
              </td>
              <td class="one">English(M.M.R)</td>
              <td class="one">....</td>
              <td class="one">Maths(K.SD)</td>
              <td class="one">Bio(M.H.B)</td>
              <td colspan="2"class="one">Coding(Uma)</td>
              
              <td class="one">Phy(K.S)</td>
              <td class="one">Social(H.B)</td>
              <td class="one">WD(Chithra)</td>
             
              
          </tr>
          <tr>
              <td class="one">
                  <b>Saturday</b>
              </td>
              <td class="one">English(M.M.R)</td>
              <td class="one">.....</td>
              <td class="one">Maths(K.SD)</td>
              <td class="one">Bio(M.H.B)</td>
              <td colspan="2"class="one">IoT(Syed)</td>
              <td class="one">Phy(K.S)</td>
              <td class="one">Social(H.B)</td>
              <td class="one">WD(Chithra)</td>
              
          </tr>
      </table>
    </div>
  </div>
</body>
</html>