<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/student_style.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">House Master Login</div>
    {% with messages=get_flashed_messages()%}
    {% if messages %}
    
    {% for message in messages %}
    <div class="" style="padding: 10px; color: green; border:3px;">
        <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  -->
         {{message}}.
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div class="content">
      <form action="" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" name = "houseMasterFirstName" placeholder="Enter First Name" required>
          </div>

          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" name = "houseMasterLastName" placeholder="Enter Last Name" required>
          </div>

          <div class="input-box">
            <span class="details">House Class</span>
            <select name="className" id="classes" style="width:100%; height:45px;" class="input-box">
            <option value="None">None</option>
            <option value="6A">6A</option>
            <option value="6B">6B</option>
            <option value="7A">7A</option>
            <option value="7B">7B</option>
            <option value="8A">8A</option>
            <option value="8B">8B</option>
            <option value="9A1">9A1</option>
            <option value="9A2">9A2</option>
            <option value="9B1">9B1</option>
            <option value="9B2">9B2</option>
            <option value="10A">10A</option>
            <option value="10B">10B</option>

            </select>
          </div>

          <div class="input-box">
            <span class="details">Email Id</span>
            <input type="email" name = "emailId" placeholder="Enter Email Id" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" name = "phoneNumber" placeholder="Enter Phone Number" required>
          </div>

          <div class="input-box">
            <span class="details">House Master Id</span>
            <input type="text" name = "houseMasterId" placeholder="Enter House Master Id" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name = "password" placeholder="Enter Password" required>
          </div>

         
          <!-- <div class="input-box">
            <span class="details">amount</span>
            <input type="text" name ="amount" placeholder="Enter amount" required>
          </div>
          <div class="input-box">
            <span class="details">Reason</span>
            <input type="text" name ="reasonTaking" placeholder="Enter reason" required>
          </div> -->
         <!--  <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div> -->
        </div>
        <!-- <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div> -->
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
