<!DOCTYPE html>
<html>
<head>
<title>HS Forgot Password</title>
<meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/teacher_log_style.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="topbar">
  <img style="width:100%;" src="{{url_for('static',filename='images/header.png')}}">
 
</div>
<div>
<div style="overflow: auto;width: 100%;">
         <div class="menu">
           <a href="#">
           <i class="fa fa-home" style="font-size:26px"></i>
           <b>HOME</b>
           </a>
     
           <a href="#">
           <i class='fas fa-chalkboard-teacher' style='font-size:26px'></i>
           ACADEMIC TEACHERS
          </a>

          <a href="#">
          <i class='fas fa-user-graduate' style='font-size:26px'></i>
          CODING TRAINERS
          </a>

         <a href="#"><i class='far fa-calendar-alt' style='font-size:26px'></i>
         TIME TABLE</a>
    
         <a href="#">
         <i class='fas fa-external-link-alt' style='font-size:26px'></i>
         APPLY LEAVE</a>

         <a href="../TSWRCA/Templates/login.html">
         <i class='fas fa-external-link-alt' style='font-size:26px'></i>
         HOUSE MASTER REGISTRATION</a>

          <a href="#">                   
          <i class='fas fa-images' style='font-size:26px'></i>
          GALLERY</a>
    
          <a href="#">
          <i class='far fa-file-alt' style='font-size:26px'></i>
          VIEW REPORTS</a>

          <a href="#">
          <i class='fas fa-university' style='font-size:26px'></i>
          CLASS BANK</a>

        </div>

<div class="login" style="height:800px;">
       <h2 style="text-align: center;">HS Forgot Password</h2><br>
       {% with messages=get_flashed_messages()%}
    {% if messages %}
    
    {% for message in messages %}
    <div class="" style="padding: 10px; color: white; border:3px;">
        <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  -->
         {{message}}.
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
      <form action="" method="post" style="border-radius: 15px 15px 0px 0px;">
        <div class="container">
            <label for="uname"><b>Email Id</b></label>
            <input style="border-radius: 15px 15px 15px 15px;" type="text" placeholder="Enter Email" name="emailId" required>

            <label for="psw"><b>Password</b></label>
            <input style="border-radius: 15px 15px 15px 15px;" type="password" placeholder="Enter Password" name="newPassword" required>

            <label for="psw"><b>Re-Password</b></label>
            <input style="border-radius: 15px 15px 15px 15px;" type="password" placeholder="Enter Re-Password" name="confirmPassword" required>
                
            <button style="border-radius: 15px 15px 15px 15px;" type="submit">Change Password</button>
            <label>
              
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <a href="{{url_for('wellnessCenterPage')}}">Cancel</a>
          <!-- <span class="psw">Forgot <a href="{{url_for('houseMasterForgotPasswordPage')}}">Password?</a></span> -->
        </div>

      </form>

</div> 

</div>
</div>

<div class="foot">
      <p style="text-align: center;padding-top:30px;padding-bottom: 30px; "><a style="text-decoration: none;color: white;"href="https://secure-space.in/">Secure Space Pvt Ltd.</a></p>
</div>

</body>
</html>